<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>created by me uses data from mapbox</p>
        <img class="portrait" src="/img/pic.png">
        <p> What's up, I'm going to help you find the weather, since you clearly cannot use your phone</p>

    </div>
    {{>footer}}
</body>



</html>